$color-dark: #010312;
$color-purple: #6F77D0;
$color-blue: #4203FF;
$color-red: #FC0A8F;
$color-cyan: #07BCFD;
$color-darktwo: #312856;
$color-brown: #BF7275;

.active{
    display: block !important;
}
.hide{
    display: none !important;
}